@font-face {
  font-family: 'g-light';
  src: url('./fonts/Gilroy-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'g-reg';
  src: url('./fonts/Gilroy-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'g-semi';
  src: url('./fonts/Gilroy-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'g-bold';
  src: url('./fonts/Gilroy-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'g-extra';
  src: url('./fonts/Gilroy-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'g-heavy';
  src: url('./fonts/Gilroy-Heavy.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'l-reg';
  src: url('./fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'l-light';
  src: url('./fonts/Lato-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'l-italic';
  src: url('./fonts/Lato-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'l-black';
  src: url('./fonts/Lato-Black.ttf');
  font-weight: normal;
  font-style: normal;
}