@import './dependencies';

/* SASS COMPONENTS */

$grey-bg: #434a53;
$grey-text: #3b424a;
$blue: #1499a7;
$dark-grey: #3b424a;
$light-grey: #dadfe2;

$grey-border: #525962;

$g-light: 'g-light', sans-serif;
$g-reg: 'g-reg', sans-serif;
$g-semi: 'g-semi', sans-serif;
$g-bold: 'g-bold', sans-serif;
$g-extra: 'g-extra', sans-serif;
$g-heavy: 'g-heavy', sans-serif;
$l-reg: 'l-reg', sans-serif;
$l-light: 'l-light', sans-serif;
$l-italic: 'l-italic', sans-serif;
$l-black: 'l-black', sans-serif;

$blue-shadow: 0px 10px 40px 0px rgba(15,163,176,0.3);

@mixin light-text {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin small-text {
  color: $grey-bg;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $g-reg;
}

@mixin grey-shadow-text {
  background-color: #3b424a;
  color: #3b424a;
  text-shadow: 0 3px 7px rgba(55,62,70,1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

/*END OF SASS COMPONENTS*/

h1, h2, h3, h4 {font-weight: normal;}

html, body {
  width: 100%;
  height: 100%;
}
body {
  min-width: 1286px; position: relative; font-family: $g-reg;
  overflow-x: hidden; font-size: 14px;
  color: #434a53;
}
.block {
  width: 100%;
  min-width: 1286px;
  position: relative;
}
.content {
  width: 1306px;
  margin: 0 auto;
  padding-left: 10px; position: relative;
  padding-right: 10px;
}
.page-header {
  height: 100px; position: relative;
  z-index: 10;
  background: $grey-bg;
  box-shadow: 0px 29px 51px 0px rgba(58,64,73,1);
}
.da-name {
  /*
  font-family: $g-light;
  */
  @include light-text;
  display: inline-block;
  position: relative;
  transition: all .3s linear;
  margin-top: 40px; cursor: pointer;
  padding-right: 26px; text-align: right;
  &:before {
    content: '';
    position: absolute; transition: all .3s linear;
    width: 10px; height: 5px; right: 0; top: 5px;
    background: url("../img/icons/arrow-down.svg") center no-repeat;
  }
  &.opened {
    &:before {
      transform: rotate(180deg);
    }
  }
}
.logo {
  display: inline-block;
  width: 180px; margin-top: 27px;
}
.dropdown-area {
  float: right;
  display: inline-block;
}


.top-block {
  background: $grey-bg;
  color: #fff;
  .content {
    position: relative;
    padding: 80px 10px 60px 10px;
  }
}
.welcome-phrase {
  font-family: $l-light;
  span {font-family: $l-black;}
}
.day-counter {margin-top: 75px;}
.date-in-counter {
  color: $dark-grey;
  font-family: $g-heavy;
  font-size: 53px;
}
.counter-itself {margin-top: 10px;}
.counter-wrapper {
  display: inline-block; vertical-align: middle;
  width: 260px;
  height: 4px;
  border-radius: 50px; position: relative;
  overflow: hidden;
  background: $dark-grey;
  .counter-blue-line {
    width: 80%; height: 100%;
    position: absolute; background: $blue;
    border-radius: 50px; right: 0; top: 0;
  }
}
.counter-text {
  display: inline-block; vertical-align: middle;
  margin-left: 20px; font-size: 10px; text-transform: uppercase; letter-spacing: 1px;
  span {font-size: 14px; font-family: $g-extra;}
}
.main-menu__list {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
.main-menu__item {
  width: 228px; height: 120px;
  text-align: center; line-height: 120px;
  border: 1px solid #525962; border-radius: 3px;
  &.visited {
    line-height: normal; background: #545c66;
    a {padding-top: 43px;}
    span {
      display: block;
      color: #9ea7b1;
      margin-top: 10px;
    }
  }
  @include light-text; font-size: 10px;
  .main-menu__link {
    display: block; width: 100%; height: 100%;
    &:hover {
      background: $blue;
      border-color: $blue;
      box-shadow: $blue-shadow;
    }
  }
}

.svodka {
  display: inline-block;
  border: 1px solid $grey-border;
  width: 620px; height: 201px; border-radius: 3px;
  padding: 20px 35px; position: absolute;
  right: 10px; top: 75px;
  .svodka-header {
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-border;
    .svodka-legend {
      font-size: 10px !important;
      display: inline-block; float: right;
      @include light-text; margin-top: -12px;
      font-family: $g-extra;
      span {color: $blue; font-family: $g-semi;}
    }
  }
  .svodka-title {
    @include light-text;
    padding-left: 36px; position: relative;
    font-size: 10px;
    &:before {
      content: ''; position: absolute;
      left: 0; top: -4px; width: 17px; height: 17px;
      background: url("../img/icons/summary.svg") center no-repeat;
    }
  }
  .svodka-col {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    &.wb {
      border-right: 1px solid $grey-border;
      padding-right: 35px; margin-right: 25px;
    }
    li {
      @include light-text;
      letter-spacing: 0;
      font-size: 10px;
      margin-bottom: 15px;
      &:last-of-type {margin-bottom: 0}
      span {font-size: 14px; font-family: $g-extra; display: inline-block; margin-left: 10px}
      .blue {color: $blue; font-family: $g-semi; margin-left: 5px}
    }
  }
}
.dropdown-menu {
  box-shadow: 0px 29px 51px 0px rgba(58,64,73,1);
  display: none;
  overflow: hidden;
  width: 275px; height: 265px;
  position: absolute; right: 0;
  top: 110px; background: $grey-text;
  border-radius: 3px;
  .login-info-wrapper {
    padding: 25px 15px;
    .login-ic {
      display: inline-block;
      width: 30px; vertical-align: middle;
    }
    .login-info {
      display: inline-block; vertical-align: middle;
      margin-left: 10px; color: #fff;
      .login-name {
        font-family: $g-extra;
        letter-spacing: 1px; text-transform: uppercase;
        padding-right: 25px; position: relative;
        &:before {
          content: ''; width: 14px; height: 14px;
          right: 0; top: 2px; position: absolute; cursor: pointer;
          background: url("../img/icons/edit.svg") center no-repeat;
        }
      }
      .login-status {
        @include light-text;
        color: #808f9c;
        font-size: 10px; margin-top: 3px;
      }
    }
  }
}
.dm-input {
  display: inline-block;
  width: calc(100% - 35px);
  background: none; margin-left: 10px; padding-bottom: 5px;
  border-bottom: 1px solid $grey-border; color: #fff;
  &::placeholder {
    font-family: $l-italic;
    color: #5f6971;
  }
  &:focus {border-color: #fff;}
}
.dm-form {
  background: #4c535d;
  padding: 28px 22px;
  .dm-form-ic {
    display: inline-block;
    width: 18px; margin-bottom: -3px;
  }
  .dm-form-line {
    margin-bottom: 20px;
    &:last-of-type {margin-bottom: 0}
  }
}
.logout {
  @include light-text;
  position: absolute; cursor: pointer;
  right: 15px; bottom: 21px;
  transition: all .3s linear;
  &:hover {opacity: .6;}
}

.reg-block {
  .content {padding: 50px 10px 60px 10px;}
}
.block-title {
  font-family: $g-extra; display: inline-block;
  padding-right: 25px; margin-bottom: 50px;
  font-size: 18px; text-transform: uppercase;
  letter-spacing: 1px; position: relative;
}
.limits-block {
  background: #edf2f9;
}
.limits-switcher {
  position: absolute;
  top: 40px; right: 0; cursor: pointer;
  width: 160px; height: 32px;
  line-height: 32px; border-radius: 50px;
  display: inline-block; border: 1px solid #ccd6e4;
  @include light-text; font-size: 10px; color: #7a8a9f;
  transition: all .3s linear; padding-left: 15px;
  &:before {
    content: '';
    width: 20px; height: 20px;
    border-radius: 50%; background: $blue;
    right: 5px; top: 5px; position: absolute;
    box-shadow: $blue-shadow; transition: all .3s linear;
  }
  &.clicked {
    color: #fff; padding-left: 35px;
    background: $blue;
    &:before {
      background: #fff; right: 133px;
    }
  }
}
.limits-filters-part {
  display: inline-block;
  vertical-align: top;
}
.bold-blue-title {
  font-family: $g-extra;
  font-size: 10px; text-transform: uppercase;
  letter-spacing: 1px; color: $blue;
  &.time-title {
    display: inline-block; vertical-align: middle;
    position: relative; padding-left: 35px;
    margin-right: 15px;
    &:before {
      content: ''; position: absolute;
      left: 0; top: -7px;
      width: 22px; height: 22px;
      background: url("../img/icons/time.svg") center no-repeat;
    }
  }
}
.fromto {
  color: $grey-bg;
  display: inline-block;
}
.common-input {
  background: transparent;
  color: $grey-bg;
  width: 50px; display: inline-block;
  border-bottom: 1px solid #dadfe2;
  margin: 0 15px 0 7px;
}
.limit-filters-cards-wrapper {
  width: 370px; height: 600px;
  position: relative; margin-top: 30px;
}
.card {
  position: absolute;
  height: 100%; width: 288px;
  color: $grey-bg;
  border-radius: 10px; top: 0;
  &.card-under {
    background: $grey-bg; width: 324px;
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.13);
  }
  &.card-main {
    background: #fff; z-index: 10;
    left: 36px; padding: 25px;
  }
  &.card-adding {
    border: 1px solid #ccd6e4; right: 0;
    height: 550px; top: 25px; cursor: pointer;
    p {
      text-transform: uppercase;
      display: inline-block; letter-spacing: 1px;
      font-size: 10px; position: absolute;
      top: 50%; right: 0; transform: translateY(-50%);
      text-align: center; transition: all .3s linear;
      span.p {
        font-size: 22px;
        margin-bottom: 6px;
        opacity: 1;
      }
      span {opacity: 0; transition: all .3s linear}
    }
    transition: all .3s linear;
    &:hover {
      right: -36px;
      border-color: $grey-bg;
      span {opacity: 1}
      p {right: 15px}
    }
  }
}
.lf-plate {
  height: 100px; cursor: pointer;
  border: 1px dashed #dadfe2; margin-bottom: 29px;
  border-radius: 10px; text-align: center;
  padding-top: 32px;
  transition: all .3s linear; position: relative;
  &:hover {
    .state-1 {color: $blue;}
    border-color: $blue;
  }
  span {
    text-transform: uppercase;
    display: inline-block; letter-spacing: 1px;
    font-size: 10px; transition: all .3s linear;
    span {
      font-size: 22px;
      transform: translateY(3px);
      margin-right: 6px;
    }
  }
  .opened {
    visibility: visible !important;
    opacity: 1 !important;
  }
  .state-2 {
    cursor: auto;
    opacity: 0; visibility: hidden; transition: all .3s linear;
    width: 100%; height: 100%; position: absolute;
    top: 0; left: 0; padding: 12px 20px; text-align: left;
    .state-title{
      @include small-text;
      display: inline-block;
      span {
        color: #98a6b8;
        margin-left: 66px;
      }
    }
    .dd-plate-area {margin-top: 21px;}
    .dd-title {
      @include small-text; cursor: pointer;
      font-family: $g-extra; display: inline-block;
      position: relative; padding-right: 15px;
      &.noar {
        padding-right: 0;
        &:before {display: none}
      }
      &:before {
        content: ''; width: 0; height: 0;
        border: 4px solid $grey-bg;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        position: absolute; top: 3px; right: 0;
        transition: all .3s linear;
      }
      &.opened {
        &:before {transform: rotate(180deg); top: -1px;}
      }
    }

    .plate-dd {
      background: #edf1f5;
      position: absolute; width: 135px;
      border-radius: 3px; z-index: 10;
      left: 20px; top: 70px;
      padding: 0 10px; visibility: hidden; opacity: 0;
      &.opened {visibility: visible; opacity: 1;}
      transition: all .3s linear;
      li {
        @include small-text;
        padding: 12px 0;
        border-bottom: 1px solid #dadfe2;
        &:last-of-type {border-bottom: none}
        a {
          display: block; width: 100%; height: 100%;
          &:hover {color: $blue}
        }
      }
    }
    .tc-pic {
      display: block; position: absolute; transition: all .3s linear;
      right: 20px; top: 22px; opacity: 0; visibility: hidden;
    }
  }
  &.clicked {
    .state-1 {visibility: hidden; opacity: 0;}
    .state-2 {visibility: visible; opacity: 1;}
    border: 1px solid #dadfe2;
  }
}
.grey-btn {
  opacity: .3; transition: all .3s linear;
  display: block;
  width: 100%; border-radius: 5px;
  background: transparent; font-size: 10px;
  font-family: $l-black; text-transform: uppercase;
  letter-spacing: 1px; color: $grey-bg;
  border: 1px solid $grey-bg; height: 30px;
  &:hover {
    color: $blue;
    border-color: $blue;
  }
}

.limits-info-part {
  display: inline-block;
  vertical-align: top;
  margin-left: 120px;
  margin-top: 85px;
  width: calc(100% - 510px);
}
.lip-title {
  font-size: 14px;
  font-family: $l-black; padding-left: 30px;
  position: relative;
  &:before {
    content: ''; position: absolute;
    width: 17px; height: 17px;
    left: 0; top: -2px;
    background: url("../img/icons/parameters.svg") center no-repeat;
  }
  &.light {
    font-family: $l-reg;
    margin-top: 70px;
    &:before {
      background: url("../img/icons/no_parameters.svg") center no-repeat;
    }
  }
}
.limits-nums-block {
  position: relative;
  display: flex; margin-top: 55px;
  justify-content: space-between;
  &.fleft {
    justify-content: flex-start;
    .line {background: #ccd6e4; width: 55%}
    .num-block:last-of-type {margin-left: 85px}
  }
  .line {
    width: 80%; height: 1px;
    background: $grey-bg;
    position: absolute;
    top: 40px; left: 0;
  }
}
.num-block.light {
  .num {color: #e3eaf3;}
}
.num {
  font-family: $g-heavy; background: #edf2f9;
  font-size: 76px; margin-left: -45px;
  &:first-of-type {margin-left: -48px}
  position:relative; z-index: 10;
  text-align: center; width: 168px; display: inline-block;
}
.num-text {
  margin-top: 10px;
  font-family: $l-reg;
  span {font-family: $l-black;}
}

.naz-line{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &:first-of-type {margin: 7px 0 5px 0;}
  .one-naz-plate {
    width: 25px; height: 25px; border-radius: 3px;
    border: 1px dashed #dadfe2; position: relative;
    cursor: pointer; text-align: center; padding-top: 1px;
    font-size: 21px;
    color: $light-grey; transition: all .3s linear;
    &.final {
      background: $blue url("../img/icons/artist.svg") center no-repeat;
      box-shadow: 0px 4px 6px 0px rgba(15,162,176,0.35);;
      background-size: 16px;
      border: 1px solid $blue;
      line-height: 0; font-size: 0;
    }
    &.clicked {
      border: 1px solid $grey-bg;
      color: $grey-bg;
    }
    .plate-dd {
      text-align: left; top: -2px;
      left: 30px; width: 325px; height: 304px;
      overflow: hidden;
      padding: 0 1px 10px 15px;
      li {
        padding-left: 30px; padding-top: 20px; position: relative;
        &:before {
          content: ''; width: 18px; height: 18px;
          position: absolute; left: 0; bottom: 11px;
        }
        &.food:before {background: url("../img/icons/chef.svg") center no-repeat}
        &.kids:before {background: url("../img/icons/abc-block.svg") center no-repeat}
        &.beauty:before {background: url("../img/icons/cosmetics.svg") center no-repeat}
        &.fashion:before {background: url("../img/icons/fashion.svg") center no-repeat}
        &.mob:before {background: url("../img/icons/mobile-phone.svg") center no-repeat}
        &.enter:before {background: url("../img/icons/movie-tickets.svg") center no-repeat}
        &.fmcg:before {background: url("../img/icons/shopping-cart.svg") center no-repeat}
        &.any:before {background: url("../img/icons/any.svg") center no-repeat; bottom: 9px;}
        &.jewell:before {background: url("../img/icons/diamond.svg") center no-repeat; bottom: 9px;}
      }
    }
  }
}
/*
.mCSB_inside>.mCSB_container {margin-right: 0}
*/
.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background: #dce0e4;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: $grey-bg !important; opacity: 1;
}
.mCSB_scrollTools {
  top: 10px;
  height: calc(100% - 20px);
}
.state-2 {
  .dm-input {
    width: 105px; font-size: 12px;
    display: inline-block;
    &::placeholder {color: #979faa}
    border-color: #dadfe2;
    margin-left: 8px; color: $grey-bg;
  }
}
.nearinp {
  font-family: $l-reg;
  font-size: 14px; display: inline-block;
  margin-left: 7px;
}
.loc-input {width: 30px !important; margin-left: 0 !important;}
.ia {display: inline-block; float: right}
.morethan {font-size: 16px !important;}


.dd-plate-area.loc {
  .plate-dd.loc-dd {
    padding-top: 10px;
    width: 285px; height: 328px;
    ul {transition: all .3s linear;}
    li {
      .chb-label {
        font-size: 12px; display: inline-block;
        font-family: $g-reg; text-transform: none;
        letter-spacing: 0;
        vertical-align: middle; padding-left: 30px;
        &.bold {
          font-family: $g-bold; font-size: 10px; text-transform: uppercase;
        }
        &:before {
          content: '';width: 14px; height: 14px;
          position: absolute; border: 1px solid #cbd0d5;
          border-radius: 3px; left: 0; top: -2px;
        }
      }
      .checkbox:checked + .chb-label:before {
        border-color: #434a53;
        background: #434a53 url("../img/icons/checked.svg") center no-repeat;
        background-size: 8px;
      }
      transition: all .3s linear;
      position: relative; border-bottom: none;
      &.bold {font-family: $g-extra}
      /*
      &:before {
        content: '';width: 14px; height: 14px;
        position: absolute; border: 1px solid #cbd0d5;
        border-radius: 3px; left: 16px; top: 9px;
      }
      */
      .larrow {
        cursor: pointer;
        display: inline-block; vertical-align: middle;
        position: relative; width: 12px; height: 20px;
        margin-top: -17px; transition: all .3s linear;
        transform: translateY(10px);
        &.opened {
          &:before {
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-top-color: $grey-bg;
            border-right-color: transparent; top: 6px;
          }
        }
        &:before {
          content: '';
          width: 0; height: 0;
          border: 4px solid $grey-bg;
          border-left-color: $grey-bg;
          border-bottom-color: transparent;
          border-top-color: transparent;
          border-right-color: transparent;
          position: absolute; top: 4px; left: 0;
          transition: all .3s linear;
        }

      }

      span {display: inline-block; margin-bottom: 5px;}
      &.final {&:after {display: none}}
      &.closed {
        &:after {
          border: 4px solid $grey-bg;
          border-bottom-color: transparent;
          border-top-color: transparent;
          border-right-color: transparent;
          top: 12px;
        }
      }
    }
  }
}
.level-two-list, .level-three-list {
  margin-left: 30px; margin-top: 5px;
  display: none;
}

.level-three-list {margin-bottom: -12px}
.level-two-list {margin-bottom: -12px}

.dark-block {
  background: $grey-bg;
  color: #fff;
}

.signup-num-block:last-of-type {margin-top: 50px;}

.signup-num {
  font-size: 24px; display: inline-block;
  vertical-align: top; font-family: $g-extra;
  color: $blue;
}
.signup-text-area {
  display: inline-block; vertical-align: top;
  margin: 3px 0 0 20px;
}
.signup-st {
  @include small-text; font-size: 12px;
  font-family: $g-extra; color: $blue;
  span {color: #616973; display: inline-block; margin-left: 10px;}
  margin-bottom: 15px;
}
.signup-text {font-family: $l-reg; margin-bottom: 20px;}

.common-btn {
  display: inline-block; position: relative;
  text-align: center; font-family: $l-black;
  text-transform: uppercase; letter-spacing: 1px; margin-top: 10px;
  font-size: 12px; width: 275px; height: 50px; padding-top: 16px;
  border-radius: 3px; border: 1px solid #fff; border-bottom-width: 5px;
  &:hover {background: #fff; color: $grey-bg}
  &.clicked {
    background: $blue;
    border-color: $blue;
    color: $grey-bg; cursor: auto;
    box-shadow: 0px 10px 40px 0px rgba(15,162,176,0.3);
    &:before {
      content: ''; position: absolute;
      width: 295px; height: 70px; border-radius: 3px;
      border: 1px solid $blue; opacity: .5; left: -12px;
      top: -12px;
    }
  }
}

.svodka.instr {
  width: 478px;
  height: 348px;
  .svodka-title {
    &:before {
      content: ''; position: absolute;
      left: 0; top: -4px; width: 17px; height: 17px;
      background: url("../img/icons/instructions.svg") center no-repeat;
    }
  }
}

.inst-num, .instr-text-part {
  display: inline-block; vertical-align: top;
}
.instr-text-part {margin-left: 12px; width: calc(100% - 40px); margin-top: 3px}
.instr-num {
  font-family: $g-heavy;
  font-size: 10px;
}
.instr-title {
  @include small-text; color: #7e8b9b;
  font-family: $g-extra;
}
.instr-block {margin-top: 17px;}
.instr-text {font-family: $l-reg; margin-top: 4px}
.big-info {
  text-align: center;
  background: #525962; border-radius: 3px;
  padding: 20px 30px; margin-top: 40px; font-family: $l-reg;
  color: #a2acba;
  span {color: $blue; font-family: $l-black;}
  span.white {color: #fff}
}
.c-select-wrapper {margin-top: 50px;}
.c-select-block {
  background: #525962; border-radius: 3px; padding: 25px 0 25px 25px;
  width: 830px; display: inline-block; vertical-align: top;
  color: #fff; height: 930px; box-shadow: 0px 5px 15px 0px rgba(67,74,83,0.3);
}

.categ-col {
  width: 255px; display: inline-block;
  vertical-align: top;
}

.categ-list {
  width: 100%;
  li {
    padding: 0 0 0 42px; position: relative;
    line-height: 45px;
    width: 100%; height: 46px;
    transition: all .3s linear; border-radius: 3px;
    border: 1px solid #6d747e; font-size: 10px; text-transform: uppercase;
    font-family: $l-reg; margin-bottom: 12px; cursor: pointer;
    &:hover {background: #6d747e; border-color: 1px solid #6d747e; box-shadow: 0px 5px 15px 0px rgba(67,74,83,0.3);}
    &:before {
      content: ''; width: 18px; height: 18px;
      position: absolute; left: 12px; bottom: 15px;
    }
    &.food:before {background: url("../img/icons/chef-white.svg") center no-repeat}
    &.kids:before {background: url("../img/icons/abc-block-white.svg") center no-repeat}
    &.beauty:before {background: url("../img/icons/cosmetics-white.svg") center no-repeat}
    &.fashion:before {background: url("../img/icons/fashion-white.svg") center no-repeat}
    &.mob:before {background: url("../img/icons/mobile-phone-white.svg") center no-repeat}
    &.enter:before {background: url("../img/icons/movie-tickets-white.svg") center no-repeat}
    &.fmcg:before {background: url("../img/icons/shopping-cart-white.svg") center no-repeat}
    &.any:before {background: url("../img/icons/any-white.svg") center no-repeat;}
    &.jewell:before {background: url("../img/icons/diamond-white.svg") center no-repeat; bottom: 13px;}
  }
}

.categ-title {
  font-family: $l-black; letter-spacing: 1px;
  text-transform: uppercase; font-size: 12px;
  margin-bottom: 25px;
}
.search-input {
  display: block;
  width: 100%; height: 46px;
  border: 1px solid #6d747e;
  border-radius: 3px;
  &::placeholder {font-family: $l-italic; color: #6d747e;}
  padding: 12px 40px 12px 12px;
  background: transparent url("../img/icons/search.svg") 225px center no-repeat;
  background-size: 16px; color: #fff;
}
.categ-switcher {
  padding-left: 75px; margin: 40px 0;
  text-transform: uppercase; letter-spacing: .5px;
  transition: all .3s linear; cursor: pointer;
  font-family: $g-semi; font-size: 10px; position: relative;
  &:before {
    content: '';
    width: 58px; height: 32px; position: absolute;
    left: 0; top: -11px; border: 1px solid #656f7b;
    border-radius: 50px; transition: all .3s linear;
  }
  &:after {
    content: ''; position: absolute;
    background: #fff; border-radius: 50px;
    width: 24px; height: 22px; left: 6px; top: -6px;
    transition: all .3s linear;
  }
  &.clicked {
    &:before {background: $blue; border-color: $blue;}
    &:after {
      left: 31px;
    }
  }
}
.categ-selects-col {
  display: inline-block;
  vertical-align: top; margin-left: 40px;
  width: 500px; height: 100%;
}
.checkbox {display: none;}

.chb-label {
  font-size: 14px; cursor: pointer;
  position: relative; padding-left: 32px;
  font-family: $l-black; display: inline-block;
  a {
    font-family: $l-reg; font-size: 12px;
    color: #9ba3ae;
    &:hover {
      text-decoration: underline;
    }
  }
  &:before {
    content: ''; width: 17px; height: 17px;
    border-radius: 3px; transition: all .3s linear;
    border: 1px solid #6d747e;
    position: absolute; top: 0; left: 0;
  }
  &:hover {

  }
}
.checkbox:checked + .chb-label:before {
  border-color: #434a53;
  background: #434a53 url("../img/icons/checked.svg") center no-repeat;
  background-size: 10px;
}
.ch-line {
  margin-bottom: 25px;
  display: inline-block;
  &:nth-last-of-type(even) {margin-right: 50px;}
}
.selects-col {
  display: inline-block;
  vertical-align: top;
  margin-left: 60px;
  &:first-of-type {margin-left: 0;}
}
.com-scroller {
  overflow: hidden;
  height: calc(100% - 40px);
  .mCSB_scrollTools {
    top: 0;
    height: 100%;
  }
}
.c-bubbles-block {
  display: inline-block; position: relative;
  vertical-align: top; height: 930px;
  border-radius: 3px; padding: 25px; float: right;
  color: $grey-bg; width: 430px; background: #fff;
}
.categ-subtitle {
  font-family: $l-black; font-size: 12px;
  color: #a2aebe; text-align: right; display: inline-block;
  position: absolute; top: 25px; right: 25px;
}
.bubble {
  color: #fff;
  font-family: $g-extra;
  text-align: center; font-size: 10px; text-transform: uppercase;
  letter-spacing: .5px; border-radius: 50px;
}
.dg {background: $grey-bg}
.b {background: $blue}
.lg {background: #bac6d2}
.selected-legend {
  padding-bottom: 20px; border-bottom: 1px solid #cdd5dd;
  display: flex; justify-content: space-between;
  flex-wrap: wrap;
  li {width: 49%; padding: 3px 0; margin-bottom: 1%}
  li.full {width: 100%; margin-bottom: 0}
}
.selected-bubbles {
  margin-top: 20px;
  li {
    display: inline-block;
    vertical-align: top; margin-right: 20px;
    padding: 12px 45px 12px 20px; text-transform: none;
    font-size: 14px; letter-spacing: 0;
    font-family: $l-black; margin-bottom: 15px;
    position: relative;
    &:before {
      content: ''; width: 50px; height: 100%; cursor: pointer;
      position: absolute; right: 0; top: 0;
      background: url("../img/icons/close.svg") center no-repeat;
      background-size: 9px;
    }
  }
}
.empty-bubbles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    @include small-text;
    text-align: center;
    color: #9aaac2;
    border: 1px dashed #bcc8d9;
    padding: 14px; margin-bottom: 18px;
    width: 48%; border-radius: 50px;
  }
}
.form-timetable {
  height: 46px; font-family: $l-black;
  font-size: 12px; text-transform: uppercase;
  letter-spacing: .5px; border-radius: 3px;
  border: 1px solid $grey-bg;
  border-bottom-width: 5px; text-align: center;
  padding-top: 13px; position: absolute;
  bottom: 25px; left: 25px;
  width: calc(100% - 50px); cursor: pointer;
  transition: all .3s linear;
  &:hover {background: $grey-bg; color: #fff;}
}
.timetable {
  width: 100%; height: 100%;
  background: #fff; border-radius: 3px;
  position: absolute; z-index: 10; top: 0; left: 0;
  header {padding: 25px 25px 0 25px;}
  opacity: 0; visibility: hidden;
  transition: all .3s linear;
  &.opened {opacity: 1; visibility: visible}
}
.edit-btn {
  width: 40px; height: 40px; cursor: pointer;
  position: absolute; top: 9px;  right: 13px;
  background: url("../img/icons/edit.svg") center no-repeat;
  background-size: 17px; transition: all .3s linear;
  &:hover {opacity: .6;}
}
.t-line {
  height: 45px; padding: 0 25px;
  &:nth-child(odd) {background: #edf2f9;}
  span {
    line-height: 45px;
    display: inline-block;
  }
  .time {font-family: $g-reg; font-size: 12px;}
  .a {font-family: $g-bold; font-size: 12px; margin-left: 35px;}
  .name {font-family: $l-black; font-size: 14px; margin-left: 35px;}
}
.packs-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.one-pack {
  transform-origin: 50% 30%;
  padding: 35px 15px 15px 15px;
  border: 1px solid $grey-bg;
  border-radius: 3px; width: 220px; height: 283px;
  text-align: center; position: relative;
  .amount {
    font-family: $l-reg; font-size: 12px; margin-bottom: 68px;
    text-transform: uppercase; letter-spacing: .5px;
  }
  .select-pack {
    display: block; background: $grey-bg; color: #fff;
    width: calc(100% - 30px); position: absolute;
    bottom: 15px; left: 15px; font-family: $l-black;
    font-size: 12px; height: 53px; line-height: 53px;
    border-radius: 3px; text-transform: uppercase; letter-spacing: .5px;
  }
  .price {
    font-family: $g-reg; font-size: 16px;
    margin-bottom: 15px;
  }
  .subprice {font-size: 12px;}
  transition: all .3s linear;
  &:before {
    content: '';
    transition-delay: 0;
    width: calc(100% - 30px); height: 1px; background: transparent;
    position: absolute; top: 79px; left: 15px;
  }
  &:hover {
    transform: scale(1.1);
    color: #fff;
    background: $grey-bg;
    box-shadow: 0px 29px 100px 0px rgba(67,74,83,0.4);
    .hint {color: $grey-bg; opacity: 1}
    &:before {
      background: #5b636c;
      transition-delay: .3s;
    }
    .select-pack {
      background: #fff;
      color: #c8d0db;
      &:hover {color: $grey-bg;}
    }
  }
}
.tarif-block {
  position: relative;
  .content {z-index: 5; padding-bottom: 0;}
}
.grey-bg {
  width: 100%;
  height: 300px;
  background: #edf2f9; position: absolute;
  top: 0; left: 0; z-index: 1;
}
.packs-info {
  text-align: right;
  margin-top: 60px;
  font-family: $l-reg; color: #88909a;
  font-size: 12px;
  span {font-family: $l-italic}
}
.hint {
  opacity: 0; transition: all .3s linear;
  position: absolute; width: 300px;
  top: - 50px; left: 0; text-align: left;
  font-size: 8px; text-transform: uppercase;
  font-family: $l-reg;
  span {font-family: $l-black}
  .square, p {display: inline-block; vertical-align: middle;}
  .square {
    width: 12px; height: 12px; border-radius: 3px;
    background: $grey-bg; margin-right: 5px; position: relative;
    &:before {
      content: '';
      width: 1px; height: 37px;
      background: transparent;
      border-left: 1px dashed $grey-bg;
      position: absolute; left: 5px; bottom: -37px;
    }
  }
}

.payment-title {
  font-family: $g-heavy; font-size: 76px;
  color: #edf2f9; text-transform: uppercase;
  border-bottom: 3px solid #dee6f1; padding-bottom: 35px;
}

.payment-info-block {
  display: inline-block; vertical-align: top;
  margin-top: 45px;
  p {
    font-family: $l-reg; font-size: 14px;
    span {font-family: $l-black}
  }
  padding-bottom: 140px;
}
.p-num-line {
  margin-bottom: 40px;
  &:first-of-type {margin-top: 80px;}
  span, p {display: inline-block; vertical-align: top;}
  span {
    @include small-text;
    font-size: 14px; font-family: $g-bold;
    margin-right: 25px; margin-bottom: -2px;
  }
}

.page-footer {
  background: $grey-bg;
  color: #fff;
  .content {padding: 10px 10px 8px 10px}
}
.fib, .footer-contacts-block {display: inline-block;}

.footer-info-block {
  width: 666px; height: 98px; padding: 25px 30px;
  border: 1px solid #fff; position: relative; margin-top: 30px;
  p {
    font-family: $g-extra;
    text-transform: uppercase;
    font-size: 16px;
  }
  span {
    background: $grey-bg;
    display: block; width: 720px;
    position: absolute; bottom: 15px;
    padding: 10px 0; left: 30px;
    font-family: $g-light; font-size: 16px;
  }
}
.copyright {font-size: 9px; margin-top: 20px;}
.sn-block {
  margin-bottom: 65px;
  li {display: inline-block; margin-left: 45px; &:first-child {margin-left: 0}}
  a {
    display: block; width: 50px; height: 50px;
    position: relative;
    &.fb {background: url("../img/icons/fb_hover.svg") center no-repeat}
    &.skype {background: url("../img/icons/skype_hover.svg") center no-repeat}
    &.whatsapp {background: url("../img/icons/whatsapp_hover.svg") center no-repeat}
    opacity: .4; &:hover {opacity: 1}
  }
}
.tel {
  margin-bottom: 30px; display: inline-block;
  font-family: $g-extra; font-size: 14px;
  position: relative; padding-left: 25px;
  &:hover {opacity: .6}
  &:before {
    content: ''; position: absolute; left: 0;
    top: -2px; width: 20px; height: 20px;
    background: url("../img/icons/phone.svg") center no-repeat;
  }
}
.mail {
  font-family: $l-reg; font-size: 14px; display: inline-block;
  position: relative; padding-left: 0; padding-bottom: 3px;
  border-bottom: 1px dashed #fff;
  &:hover {opacity: .6}
  &:before {
    content: ''; position: absolute; left: -30px;
    top: -2px; width: 20px; height: 20px;
    background: url("../img/icons/mail.svg") center no-repeat;
  }
}
.footer-contacts-block {
  text-align: right; position: absolute;
  top: 35px; right: 10px;
}

.card-tabs-block {
  position: absolute;
  right: 10px; top: 96px;
}
.card-tabs {
  li {
    transition: all .3s linear;
    display: inline-block; cursor: pointer;
    font-family: $l-black; font-size: 14px;
    border-bottom: 3px solid #dee6f1; width: 230px;
    padding-bottom: 10px; text-align: center;
    color: #c8d0db;
    &.active {color: $grey-bg; border-color: $grey-bg;}
    &:last-of-type {margin-left: -3px}
  }
}
.inn-input {
  border: 1px solid #c8cacb; border-radius: 3px;
  display: inline-block; vertical-align: middle;
  width: 415px; height: 48px; padding: 15px; font-family: $l-reg;
  font-size: 14px;
}
.payment-method {
  position: absolute;
  right: 0; top: 70px; width: 500px; text-align: right;
  label {margin-right: 10px; font-family: $l-reg; font-size: 14px;}
  opacity: 0; visibility: hidden; transition: all .3s linear;
  &.visible {opacity: 1; visibility: visible}
}
.v-schet {
  font-family: $l-black; font-size: 12px; margin-top: 20px;
  text-align: center; display: inline-block; text-transform: uppercase;
  color: $grey-bg; border-radius: 3px; border: 1px solid $grey-bg;
  width: 283px; height: 50px; border-bottom-width: 5px; line-height: 45px;
  &:hover {background: $grey-bg; color: #fff;}
}
.offerta-list {
  margin-top: 20px;
  li {
    display: inline-block;
    padding-bottom: 3px; border-bottom: 1px dashed $grey-bg;
    a:hover {opacity: .6;}
  }
  li:first-child {margin-right: 20px;}
  font-size: 12px; font-family: $l-reg;

}
.card-area {
  position: relative; display: inline-block;
  width: 482px; height: 279px; margin-bottom: 20px;
  transition: all .3s linear;
  background: url("../img/card-filled.png") center no-repeat;
  &.filling {
    background: url("../img/card-empty.png") center no-repeat;
  }
}
.card-number {
  position: absolute;
  left: 40px; top: 123px;
}
.expire {
  position: absolute;
  left: 285px; top: 198px;
}
.card-num-input {
  display: inline-block;
  vertical-align: bottom; font-size: 16px;
  width: 11px; padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent; margin-right: 1px; color: #fff;
  &:focus {border-bottom: 1px solid #fff;}
}
.one-four {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 23px;
  &:last-of-type {margin-right: 0}
}
.one-two {
  display: inline-block; vertical-align: bottom;
  &:last-of-type {margin-left: 0;}
}
.cvv {
  position: absolute;
  right: 25px; bottom: 33px;
  .card-num-input {
    color: $grey-bg;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    &:focus {border-bottom: 1px solid $grey-bg;}
  }
}
.card-name {
  position: absolute;
  top: 198px; left: 40px;
  .card-num-input {
    width: 210px;
  }
}
.card-inputs-wrapper {
  opacity: 0; visibility: hidden;
  transition: all .3s linear;
  &.opened {opacity: 1; visibility: visible}
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1290px) {

  html, body, .block {min-width: 1px;}
  
}