.block.page-footer
    .content
        a(href="index.html")
            img.logo(src='img/icons/logo_white.svg')

        br
        .fib
            .footer-info-block
                p ЭКСПЕРТ В КОММУНИКАЦИЯХ НА РЫНКЕ ТОРГОВОЙ НЕДВИЖИМОСТИ
                span 15 лет мы знакомим нужных друг другу людей и способствуем заключению выгодных сделок

            p.copyright Хорошего понедельника! © 2018 - RETAILER.ru

        .footer-contacts-block
            ul.sn-block
                li
                    a.sn-link.fb(href="#", target="_blank")

                li
                    a.sn-link.skype(href="#", target="_blank")

                li
                    a.sn-link.whatsapp(href="#", target="_blank")

            ul.con-list
                li
                    a.tel(href="#") + 7(800) 500-66-06
                li
                    a.mail(href="#") ask@retailer.ru

