.block.page-header
    .content
        a(href="index.html")
            img.logo(src='img/icons/logo_white.svg')

        .dropdown-area
            p.da-name Олег

        .dropdown-menu
            .login-info-wrapper
                img.login-ic(src='img/icons/user_avatar.svg')
                .login-info
                    p.login-name Олег Пупырка
                    p.login-status продавец

            form.dm-form
                .dm-form-line
                    img.dm-form-ic(src="img/icons/company.svg")
                    input.dm-input(placeholder="Название вашей компании")
                .dm-form-line
                    img.dm-form-ic(src="img/icons/website.svg")
                    input.dm-input(placeholder="Вебсайт вашей компании")

            p.logout Выйти
