extends template

block title
    title Retailer Недвижимость


block header
    include ./components/header

block content
    main

        .block.top-block
            .content

                p.welcome-phrase
                    span Добро пожаловать в личный кабинет, Олег.
                    br
                    | Здесь вы можете управлять вашим Центром Переговоров.

                .day-counter
                    .date-in-counter 06.12.2018
                    .counter-itself
                        .counter-wrapper
                            .counter-blue-line
                        p.counter-text
                            | до следующего центра переговоров осталось
                            span  26
                            |  дней

                ul.main-menu__list
                    li.main-menu__item.visited
                        a.main-menu__link.anchor-link(href='#limits')
                            | ввести ограничения
                            span / введены /
                    li.main-menu__item
                        a.main-menu__link.anchor-link(href='#zapis') запись на переговоры
                    li.main-menu__item
                        a.main-menu__link.anchor-link(href='#zapis') мое расписание
                    li.main-menu__item
                        a.main-menu__link.anchor-link(href='#tarif') пакеты и оплата
                    li.main-menu__item
                        a.main-menu__link.anchor-link(href='#') получить qr-код

                .svodka
                    header.svodka-header
                        h3.svodka-title Краткая сводка
                        p.svodka-legend
                            | всего  |
                            span  сегодня

                    ul.svodka-col.wb
                        li брендов зарегистрировалось
                            span  223
                            span.blue  +5
                        li ??
                            span  87
                            span.blue  +2
                        li ??
                            span  136
                            span.blue  +3
                        li запланировано раундов переговоров
                            span  518
                            span.blue  +22

                    ul.svodka-col
                        li моих раундов
                            span  16
                            span.blue  +1
                        li я записан
                            span  11
                            span.blue  +1
                        li ко мне записались
                            span  5

        .block.limits-block.reg-block#limits
            .content
                h2.block-title ограничения на подбор партнеров по переговорам

                br
                p.limits-switcher с ограничениями

                .limits-filters-part
                    .limits-time-line
                        h3.bold-blue-title.time-title время присутствия
                        span.fromto с
                        input.common-input(type="text")
                        span.fromto до
                        input.common-input(type="text")
                        span.fromto часов

                    .limit-filters-cards-wrapper
                        .card.card-under
                        .card.card-main

                            .lf-plate
                                span.state-1
                                    span +
                                    |  тип объекта
                                .state-2
                                    h3.state-title тип объекта
                                    .dd-plate-area
                                        p.dd-title#type-dd-title выберите тип объекта
                                        ul.plate-dd#type-dd
                                            li
                                                a(href="#") площадь в тц
                                            li
                                                a(href="#") отдельное здание
                                            li
                                                a(href="#") стрит-ретейл
                                            li
                                                a(href="#") участок

                                        img.tc-pic(src='img/tc.png')

                            .lf-plate
                                span.state-1
                                    span +
                                    |  назначение

                                .state-2
                                    h3.state-title назначение объекта (до 12)

                                    .naz-line
                                        .one-naz-plate +
                                            ul.plate-dd.mCustomScrollbar#naz-dd
                                                li.any
                                                    a(href="#") Любое назначение
                                                li.fashion
                                                    a(href="#") мода
                                                li.jewell
                                                    a(href="#") ювелирные изделия и аксессуары
                                                li.kids
                                                    a(href="#") товары для детей
                                                li.fmcg
                                                    a(href="#") fmcg, алкоголь
                                                li.food
                                                    a(href="#") еда
                                                li.enter
                                                    a(href="#") развлечения
                                                li.beauty
                                                    a(href="#") красота и здоровье
                                                li.mob
                                                    a(href="#") мобильные устройства
                                        .one-naz-plate +
                                        .one-naz-plate +
                                        .one-naz-plate +
                                        .one-naz-plate +
                                        .one-naz-plate +
                                    .naz-line
                                        .one-naz-plate +
                                        .one-naz-plate +
                                        .one-naz-plate +
                                        .one-naz-plate +
                                        .one-naz-plate +
                                        .one-naz-plate +

                            .lf-plate
                                span.state-1
                                    span +
                                    |  площадь
                                .state-2
                                    h3.state-title площадь
                                    .dd-plate-area
                                        p.dd-title.noar#sq-dd-title площадь
                                        input.dm-input(placeholder="Укажите диапазон")
                                        span.nearinp м²
                            .lf-plate
                                span.state-1
                                    span +
                                    |  локация
                                .state-2
                                    h3.state-title
                                        | локация
                                        span население
                                    .dd-plate-area.loc
                                        p.dd-title#loc-title вся россия

                                        .plate-dd.loc-dd.mCustomScrollbar#loc-dd
                                            ul.level-one-list
                                                li.bold
                                                    .larrow.f
                                                    input.checkbox(type="checkbox" hidden="hidden" id="allrussia")
                                                    label.chb-label.bold(for="allrussia") Вся россия
                                                    ul.level-two-list
                                                        li
                                                            .larrow
                                                            input.checkbox(type="checkbox" hidden="hidden" id="alldrussia")
                                                            label.chb-label(for="alldrussia") Центр
                                                            ul.level-three-list
                                                                li
                                                                    input.checkbox(type="checkbox" hidden="hidden" id="allbrussia")
                                                                    label.chb-label(for="allbrussia") Запездье

                                            ul.level-one-list
                                                li
                                                    .larrow.f
                                                    input.checkbox(type="checkbox" hidden="hidden" id="allsrussia")
                                                    label.chb-label(for="allsrussia") Не вся Россия

                                            ul.level-one-list
                                                li
                                                    .larrow.f
                                                    input.checkbox(type="checkbox" hidden="hidden" id="allsrussiaa")
                                                    label.chb-label(for="allsrussiaa") Не вся Россия

                                            ul.level-one-list
                                                li
                                                    .larrow.f
                                                    input.checkbox(type="checkbox" hidden="hidden" id="allsrussiaa")
                                                    label.chb-label(for="allsrussiaa") Не вся Россия

                                            ul.level-one-list
                                                li
                                                    .larrow.f
                                                    input.checkbox(type="checkbox" hidden="hidden" id="allsrussiaa")
                                                    label.chb-label(for="allsrussiaa") Не вся Россия

                                            ul.level-one-list
                                                li
                                                    .larrow.f
                                                    input.checkbox(type="checkbox" hidden="hidden" id="allsrussiaa")
                                                    label.chb-label(for="allsrussiaa") Не вся Россия

                                            ul.level-one-list
                                                li
                                                    .larrow.f
                                                    input.checkbox(type="checkbox" hidden="hidden" id="allsrussiaa")
                                                    label.chb-label(for="allsrussiaa") Не вся Россия

                                            ul.level-one-list
                                                li
                                                    .larrow.f
                                                    input.checkbox(type="checkbox" hidden="hidden" id="allsrussiaa")
                                                    label.chb-label(for="allsrussiaa") Не вся Россия

                                            ul.level-one-list
                                                li
                                                    .larrow.f
                                                    input.checkbox(type="checkbox" hidden="hidden" id="allsrussiaa")
                                                    label.chb-label(for="allsrussiaa") Не вся Россия




                                        .ia
                                            span.nearinp.morethan >
                                            input.dm-input.loc-input(placeholder="")
                                            span.nearinp ТЫС


                            button.grey-btn Применить ограничения

                        .card.card-adding
                            p
                                span.p +
                                br
                                span  объект


                .limits-info-part
                    h3.lip-title Чтобы ваши переговоры прошли эффективнее, мы предлагаем ввести ограничения на подбор партнеров.
                    .limits-nums-block
                        .line
                        .num-block.dark
                            p.num 01
                            p.num-text
                                | Укажите
                                span  параметры площадей,
                                br
                                |  которые вы ищете, а так же время
                                br
                                |  вашего присутствия на Центре
                                br
                                |  Переговоров

                        .num-block.dark
                            p.num 02
                            p.num-text
                                | Система
                                span  подберет
                                br
                                span  подходящих
                                |  продавцов

                        .num-block.dark
                            p.num 03
                            p.num-text
                                span Вы сможете встретиться:
                                br
                                | -  С подходящим участниками
                                br
                                | -  С компаниями, не указавшими
                                br
                                |  ограничения

                    h3.lip-title.light Вы можете начать подбор без ограничений. Для этого кликните по переключателю в правом верхнем углу экрана.
                    .limits-nums-block.fleft
                        .line
                        .num-block.light
                            p.num 01
                            p.num-text
                                | К вам смогут записаться
                                span  любые компании, вне
                                br
                                |  зависимости от того, соответствуют ли они вашим
                                br
                                |  требованиям к торговым площадям

                        .num-block.light
                            p.num 02
                            p.num-text
                                | Вы сможете записаться только к компаниям,
                                br
                                span  не указавшим
                                |  ограничения

        .block.reg-block.dark-block#zapis
            .content
                h2.block-title запись на переговоры

                .signup-block
                    .signup-num-block
                        span.signup-num 01

                        .signup-text-area

                            h3.signup-st
                                | Откройте запись к себе
                                span  бесплатно

                            p.signup-text
                                | Операторы площадей увидят вашу компанию в списке участников и смогут записаться
                                br
                                |  на переговоры. Мы оповестим вас о входящих заявках.

                            a.common-btn.signup-btn(href="#") Открыть запись

                    .signup-num-block
                        span.signup-num 02

                        .signup-text-area

                            h3.signup-st
                                | Запишитесь на переговоры
                                span  платно

                            p.signup-text
                                | Выберите партнеров из списка ниже. Система предложит вам расписание и подберет подходящий
                                br
                                |  пакет переговоров.

                            p.signup-text
                                | • Чтобы увидеть компании, подходящие вам по введенным ранее параметрам, кликните на
                                br
                                |  соответствующий переключатель, который находится под строкой поиска по компаниям.

                .svodka.instr
                    header.svodka-header
                        h3.svodka-title  инструкции

                    .instr-block
                        span.instr-num 01
                        .instr-text-part
                            h4.instr-title Выберите интересующие вас компании
                            p.instr-text
                                | Некоторые компаний могут быть недоступны для записи.
                                | Это может случиться, если они не подходят по указанным вами ограничениям или если свободные места закончились.

                    .instr-block
                        span.instr-num 02
                        .instr-text-part
                            h4.instr-title При необходимости, отредактируйте свой список
                            p.instr-text
                                | Пока вы не подтвердите свой выбор, можно удалять лишние компании и добавлять новые.


                    .instr-block
                        span.instr-num 03
                        .instr-text-part
                            h4.instr-title как сформировать мое расписание
                            p.instr-text
                                | Система автоматически определит время переговоров и присвоит каждому раунду стол в зависимости от заполненности столов и указанного вами времени присутствия.

                .big-info
                    | Обратите внимание, что за несколько дней до встречи система может изменить расписание, чтобы учесть пожелания всех участников.
                    br
                    span  Актуальное расписание
                    span.white  всегда
                    span  будет доступно для вас на этой странице.

                .c-select-wrapper
                    .c-select-block
                        .categ-col

                            h3.categ-title сегменты

                            input.search-input(type="search" placeholder="Начните вводить компанию")
                            .categ-switcher все компании без сортировки

                            ul.categ-list
                                li.fashion
                                    a(href="#") мода
                                li.jewell
                                    a(href="#") ювелирные изделия и аксессуары
                                li.kids
                                    a(href="#") товары для детей
                                li.fmcg
                                    a(href="#") fmcg, алкоголь
                                li.food
                                    a(href="#") еда
                                li.enter
                                    a(href="#") развлечения
                                li.beauty
                                    a(href="#") красота и здоровье
                                li.mob
                                    a(href="#") мобильные устройства

                        .categ-selects-col
                            h3.categ-title список компаний
                            .com-scroller.mCustomScrollbar
                                .selects-col
                                    .ch-line
                                        input.checkbox(type='checkbox' name='two' id='two' hidden='hidden')
                                        label.chb-label(for="two")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='two' id='two' hidden='hidden')
                                        label.chb-label(for="two")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                                    .ch-line
                                        input.checkbox(type='checkbox' name='one' id='one' hidden='hidden')
                                        label.chb-label(for="one")
                                            | Familia
                                            br
                                            a(href="#") companywebsite.com

                    .c-bubbles-block
                        h3.categ-title вы выбрали
                        span.categ-subtitle 10/20

                        ul.selected-legend
                            li.bubble.dg компания доступна
                            li.bubble.lg недоступна, выберите другую
                            li.bubble.full.b компания подходит вам по указанным параметрам

                        ul.selected-bubbles
                            li.bubble.lg Familia
                            li.bubble.dg Ralf Ringer
                            li.bubble.b Jack Wolfskin
                            li.bubble.lg Pidoras
                            li.bubble.dg Kraken
                            li.bubble.dg Marishka
                            li.bubble.b Gady
                            li.bubble.b Bomba
                            li.bubble.lg Nike
                            li.bubble.dg Asos

                        ul.empty-bubbles
                            li пусто
                            li пусто
                            li пусто
                            li пусто
                            li пусто

                        p.form-timetable сформировать расписание

                        .timetable
                            header
                                h3.categ-title мое расписание
                                p.edit-btn

                            .tt-table
                                .t-line.g
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line.g
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line.g
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line.g
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line.g
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line.g
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line.g
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line.g
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

                                .t-line
                                    span.time 9:00
                                    span.a A2
                                    span.name Familia

        .block.tarif-block.reg-block#tarif
            .grey-bg
            .content
                h2.block-title выбор пакета и оплата

                .packs-wrapper
                    .one-pack
                        p.amount 5 переговоров
                        p.price 25 000₽
                        p.subprice /   1 раунд = 5000₽   /

                        a.select-pack(href="#") Выбрать

                    .one-pack
                        p.amount 5 переговоров
                        p.price 25 000₽
                        p.subprice /   1 раунд = 5000₽   /

                        a.select-pack(href="#") Выбрать

                    .one-pack
                        p.amount 5 переговоров
                        p.price 25 000₽
                        p.subprice /   1 раунд = 5000₽   /

                        a.select-pack(href="#") Выбрать

                    .one-pack

                        .hint
                            span.square
                            p
                                | скорее всего, вам подойдет
                                span  данный пакет

                        p.amount 5 переговоров
                        p.price 25 000₽
                        p.subprice /   1 раунд = 5000₽   /

                        a.select-pack(href="#") Выбрать

                    .one-pack
                        p.amount 5 переговоров
                        p.price 25 000₽
                        p.subprice /   1 раунд = 5000₽   /

                        a.select-pack(href="#") Выбрать

                p.packs-info
                    | — Пакеты 20 и 30 переговоров могут быть разделены
                    span  между несколькими
                    |  делегатами


        .block.payment-block
            .content

                .card-tabs-block
                    ul.card-tabs
                        li.inn.active Выставление счета
                        li.card-t Банковская карта

                    .payment-method.inn-me.visible
                        label(for="inn") ИНН
                        input.inn-input(type="text" id="inn")
                        a.v-schet(href="#") выставить счет на 60 000₽
                        ul.offerta-list
                            li
                                a(href="#") Публичная офферта
                            li
                                a(href="#") Условия возврата

                    .payment-method.card-me
                        .card-area
                            .card-inputs-wrapper
                                .card-number
                                    .one-four
                                        input.firstone.card-num-input(type="number")
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")

                                    .one-four
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")

                                    .one-four
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")

                                    .one-four
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")

                                .card-name
                                    input.card-num-input.c-name(type="text")

                                .expire
                                    .one-two
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")
                                    .one-two
                                        input.card-num-input(type="number" max="9")
                                        input.card-num-input(type="number" max="9")

                                .cvv
                                    input.card-num-input(type="number" max="9")
                                    input.card-num-input(type="number" max="9")
                                    input.card-num-input(type="number" max="9")

                        a.v-schet(href="#") выставить счет на 60 000₽
                        ul.offerta-list
                            li
                                a(href="#") Публичная офферта
                            li
                                a(href="#") Условия возврата




                h2.payment-title 20 переговоров

                .payment-info-block
                    p
                        | Введите ИНН и мы выставим Вам счет на оплату на сумму
                        span  60 000₽,
                        br
                        |  либо оплатите с помощью банковской карты.
                    .p-num-line
                        span.p-num 01
                        p Деньги зачисляются на ваш счет в личном кабинете.
                    .p-num-line
                        span.p-num 02
                        p
                            | Если вам не удастся исчерпать депозит (например, вы записались только к 8 партнерам
                            br
                            |  из 10), остаток на счету вы сможете потратить на следующем Центре переговоров.
                    .p-num-line
                        span.p-num 03
                        p Средства также можно потратить на on-line переговоры в RE-CONNECT.






        include ./components/footer
